body{
  background-color: #044851;
}
ul{
  background-color: white;
  list-style-type:none;
}
.long-text{
  font-size:32px;
}
.bg{
  display:flex;
  justify-content:center;
  color:white;
  text-transform: capitalize;
  height: 100%;
}
.geo{
  justify-content:center;
}
.day{
  margin:auto;
}
.card{
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color:#d1e8ff;
  display:flex;
  justify-content:center;
  color:#073560;
  box-shadow: 5px 3px 3px #091a2b;
  border-radius: 4px;
}
.card-img-top{
  max-height: 15rem;
  min-height:15rem;
}
.card-header{
  background-color:#d1e8ff;
  font-weight:bold;
  font-size: 2.5rem;
  border: none;
  margin: 0;
}
.card-body{
  background-color:#b5daff;
}
.card-deck{
  height:100%;
}
.date{
  display:flex;
  justify-content:center;
  font-size:2rem;
}